/* Home Page Before Login */
.home-page {
  font-family: "Roboto", sans-serif;
}

.home-page .header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Added */
  align-items: center;
  height: 100px;
  padding: 0 5px; /* Adjusted padding */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.home-page .page-title {
  margin: 0;
  font-size: 24px;
  color: #333;
  margin-left: 20px;
}

.home-page .nav-menu-no-log {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.home-page .custom-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f0f8ff; /* Added background color */
  border: 2px solid #3496ff; /* Added border */
  transition: all 0.3s;
  margin-left: 10px; /* Added margin between buttons */
}

.home-page .custom-link:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.home-page .login-in-link {
  display: inline-block;
}

.home-page .register-link {
  display: inline-block;
  margin-left: 20px;
}
