/* Home Page After Login */
:root {
  --secondary-bg: #fff;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 300ms;
}

.home-page-logged {
  font-family: "Roboto", sans-serif;
}

.home-page-logged .header {
  background-color: rgba(224, 224, 224, 0.712);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Added */
  align-items: center;
  height: 100px;
  padding: 0 5px; /* Adjusted padding */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.home-page-logged .page-title {
  margin: 0;
  font-size: 24px;
  color: #333;
  margin-left: 20px;
}

.home-page-logged .nav-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.home-page-logged .menu-trigger img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #eaeaea;
  transition: border-color 0.3s;
}

.home-page-logged .menu-trigger img:hover {
  border-color: #007bff;
}

.home-page-logged .dropdown-menu {
  position: absolute;
  top: 87px;
  right: 29px;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  width: 230px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
}

.home-page-logged .dropdown-menu.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.home-page-logged .dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.home-page-logged .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 43px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.home-page-logged .username {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
}

.home-page-logged .dropdown-links1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-page-logged .dropdown-links1 .dropdown-links {
  display: block;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.home-page-logged .dropdown-links1 .dropdown-links:hover {
  background-color: #f7f7f7;
}

.home-page-logged h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

.home-page-logged h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.home-page-logged .dropdown-menu ul {
  padding: 15px 0 10px;
  text-align: center;
  color: unset;
  margin: 0;
}

.home-page-logged .dropdown-menu .dropdown-links1 .first-container {
  border-top: 1px solid rgba(187, 187, 187, 0.562);
}

.home-page-logged .dropdown-menu .dropdown-links1 .second-container {
  border-top: 1px solid rgba(187, 187, 187, 0.562);
}

.home-page-logged .dropdown-menu .dropdown-links {
  all: unset;
}

.home-page-logged .dropdown-menu .dropdown-links:hover {
  cursor: pointer;
  text-decoration: underline;
}

.home-page-logged .dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}
